.articles {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
        margin-top: 20px;
    }
    .coldisp {
        @extend .textos;
    }
    .colorart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}